@use "./adaptive";

@font-face {
  font-family: "comic shanns";
  src:
    url("../fonts/comic shanns 2.ttf");
}

html {
    font-family: comic shanns, cursive;
}

button {
    font-family: comic shanns, cursive;
}

body {
    font-size: 1.6rem;
}

html, body {
    margin: 0;    /* Remove default margin */
}

button:hover {
    cursor: pointer;
}
